FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=abc.firebaseapp.com
FIREBASE_DATABASE_URL=https://abc.firebaseio.com
FIREBASE_PROJECT_ID=abc
FIREBASE_STORAGE_BUCKET=abc.appspot.com
FIREBASE_MEASUREMENT_ID=G-xxxxxxxxxxxxxxxx
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
