@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0 auto;
  font-weight: 300;
}


.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #555555 transparent #555555 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border {
  border-width: 1px;
}

.post-title::before {
  content: "#";
  color: #CCC;
  margin-right: 8px;
  margin-left: -18px;
  font-weight: normal;
}
.post-content.ql-editor {
  overflow-y: visible;
}

input[type=text], input[type="email"], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.post-content a {
  color: #06c !important;
}
.post-content h2 {
  font-size: 2rem;
}
.post-page-view img{
  margin: 0 auto;
}
.post-list img {
  height: 100%;
  object-fit: cover;
}

.github-corner:hover .octo-arm{
  animation: octocat-wave 560ms ease-in-out
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

@keyframes octocat-wave {
  0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}
}
@media (max-width:500px){
  .github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{
    animation:octocat-wave 560ms ease-in-out
  }
}