body {
  margin: 0 auto;
  font-family: 'Anonymous Pro', 'Open Sans', monospace, sans-serif;
}


#__next {
  min-height: 100vh;
}

.sidebar-column {
  .navigation-menu {
    float: none;
  }
  .navigation-bar {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }

  .main-subheading {
    display: block;
    font-size: 13px;
    margin-top: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .w-nav {
    z-index: 1000;
    position: relative;
  }
  .w-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-link {
    float: none;
    display: block;
    text-decoration: none;
  }
  .logo-text {
    margin-top: 20px;
    color: #333333;
    font-weight: 600;
    line-height: 2.2em;
    margin-bottom: 0px;
    font-family: 'Anonymous Pro', 'Open Sans', monospace, sans-serif;
  }

  .nav-link {
    display: block;
    font-size: 12px;
    padding: 6px 0px;
    color: #969696;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 200ms ease;
    -webkit-transition: color 200ms ease;
  }
  .w-nav-link {
    font-size: 12px;
    font-weight: 600;
  }
  .divider {
    width: 50%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #5e5e5e;
  }
  .social-icon-link {
    width: 19px;
    opacity: 0.41;
    margin-right: 11px;
    transition: opacity 200ms ease;
    -webkit-transition: opacity 200ms ease;
  }
}
.container {
  margin: 0 auto;
  padding: 24px 16px;
}

.button-round {
  color: #333;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 12px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  transition: border 200ms ease, color 200ms ease;
}

.back-icon-link {
  width: 100px;
  display: block;
  img {
    width: 40px;
    height: 40px;
    padding: 4px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 50px;
  }
}

.list-post-item {
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: solid 1px #929292;
}

.main-content {
  padding: 32px;
  height: 100vh;
  box-sizing: border-box;
}