.post-page-view {
  .header {
    width: 100%;
    padding: 30px;
    height: 100px;
  }
  .post-detail-container {
    margin: 0 auto;
    min-width: 320px;
    max-width: calc(100vw - 600px);
    .post-title {
      font-size: 22px;
      font-weight: bold;
      margin-left: -4px;
      position: relative;
      padding-bottom: 5px;

      &::before {
        content: "#";
        color: #CCC;
        margin-right: 8px;
        margin-left: -20px;
        font-weight: normal;
      }
    }
  }
}