.post-edit-page {
  display: flex;
  max-width: 970px;
  margin: 40px auto;
  flex-direction: column;
}

.post-edit-title {
  display: flex;
  margin: 0 auto;
  max-width: 970px;
}

input[name="title"] {
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  color: #333333;
  padding: 8px 12px;
  border-radius: 3px;
  margin-bottom: 10px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.submit-save {
  color: #ffffff;
  padding: 4px 10px;
  margin-right: 12px;
  box-shadow: 1px 1px #ccc;
  background-color: #02d68f;
}

.submit-push {
  color: #ffffff;
  padding: 4px 10px;
  margin-right: 12px;
  box-shadow: 1px 1px #ccc;
  background-color: #7fafd4;
}

.quill-area {
  margin-bottom: 10px;
}